
body {
    background-image: url("https://images.pexels.com/photos/2268519/pexels-photo-2268519.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: auto;
    background-position: inherit;
    background-repeat: repeat;
}

.red-circle {
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #bf0d25, #e82a2a);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 2s, left 2s;
  }
  
  .blue-box {
    background-color: #2a6683;
    background: linear-gradient(to left, #2a6683, #458bae);
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  


/*    top: 150px;
    left: 250px; */